@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

@font-face {font-family: "Tintin Majuscules";
src: url("//db.onlinewebfonts.com/t/f467350cf09770d20a3a63f7e14b63cb.woff") format("woff") }

@font-face {font-family: "Braeside Outline"; 
  src: url("//db.onlinewebfonts.com/t/c6d7a00a7e3ee2372005a51d2dbda4cd.woff") format("woff")
}

@font-face {font-family: "Stencilia-Bold"; 
  src: url("//db.onlinewebfonts.com/t/dc44e6e79f85f8711b1958c923a9c42c.woff") format("woff")
}

@font-face {font-family: Cubano; src:
  url("//db.onlinewebfonts.com/t/1d65b5646a9a805c62b037be6dd3a0a7.woff") format("woff"),

}

$session-color: #388E3C;
$break-color: #D32F2F;
$label-bg-color: #E1F5FE;

.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-green-font {
  color: #4CAF50
}


body {
  background-color: #757575;
  font-family: Montserrat, sans-serif;
}

#main {
   // background-color: #212121;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none; 
   
  }

  #main-container {
    /* background-color: #448AFF; */
      border: solid black 10px;
     display: flex;
     justify-content: space-evenly;
     flex-direction: row;
     max-width: 1000px;
     width: 100%;
     max-height: 510px;
     height: 100%;
     box-sizing: border-box;
     
   }
   
   #left-container {
     @extend .flex-middle;
     background-color: #FFF8E1;
     border-right: black solid 10px;
     flex-direction: column;
     width: 100%;
     
   }
   
   #right-container {
     @extend .flex-middle;
     flex-direction: column;
     font-size: 3em;
     width: 100%; 
   }
   
   #display-container {
     @extend .flex-middle;
     height: 100%;
     width: 100%;
    flex-direction: column;
     flex-shrink: 1;
   }
   
   #title {
     color: #6200EA;
     height: 100%;
     font-size: 2em;
     font-weight: 600;
     flex-shrink: 7;
   
     
   }
   
   #timer-container {
     @extend .flex-middle;
//background-color: blue;
     height: 100%;
     width: 100%;
     flex-direction: column; 
     flex-shrink: 1;
   }
   
   #time-left {
     @extend .flex-middle;
     background-color: $label-bg-color;
     border: solid 8px;
     flex-direction: column;
     width: 100%;
     max-width: 300px;
     height: 100%;
     max-height: 300px;
     border-radius: 50%;
     font-family: Cubano;
     font-size: 3em;
    
   }

   #timer-numbers {
      margin-top: 47px;
      color: $session-color;

   }

   #timer-numbers-break {
    margin-top: 47px;
    color: $break-color;
   }

   #timer-break-hidden {
    visibility: hidden;
    font-size: 0.6em;
    margin-top: 10px;
   }
   
   #timer-break {
     color: $break-color;
     font-size: 0.6em;
     margin-top: 10px;
   }
   .controls-container {
     height: 100%;
     width: 100%;
     /* background-color: white; */
     display: flex;
     justify-content: space-around;
     margin: 20px;
     flex-shrink: 5;
     text-align: center;
   }
   
   .controls-button {
    background-color: $label-bg-color;
     border: #6200EA solid 5px;
     border-radius: 50px;
     cursor: pointer;
     font-size: 1.5em;
     font-weight: 600;
     max-width: 90px;
     padding: 10px;
     padding-left: 50px;
     padding-right: 50px;
     width: 100%;
   }
   
   #start-stop {
     color: #6200EA;
    background-color: $label-bg-color;
   }
   
   #reset {
    color: #6200EA ;
    background-color: $label-bg-color;
   }
   
   .default-container {
     height: 100%;
     width: 100%;
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
   }
   
   #break-container {
     @extend .default-container;
     background-color: #FFF8E1;
     border-bottom: solid black 10px;
     box-sizing: border-box;
     font-family: Cubano;
     
   }
   
   #session-container {
     @extend .default-container;
     background-color: #FFF8E1;
     font-family: Cubano;
   }
   
   .center-container {
    //background-color: yellow;
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     
   }

   #break-controls {
     display: flex;
     justify-content: space-around;
     align-items: center;
     //background-color: blue;
     max-height: 100px;
     max-width: 483px;
     height: 100%;
     width: 100%;
     
   }

   #session-controls {
   
     @extend #break-controls
   }

   
   
   .label {
     
     //background-color: red;
     border: red solid 7px;
     display: flex;
     justify-content: center;
     height: 100%;
    
     margin-top: 20px;
     max-height: 65px;
     max-width: 400px;
     width: 100%
   }

   
   
   #break-label {
    background-color: #E1F5FE;
    border-color: $break-color;
   
    color: $break-color;
    
   }

   #break-length {
     color: $break-color;
   }
   
   

   #session-label {
    background-color: #E1F5FE;
    border-color: $session-color;
     color: $session-color;
   }

   #session-length {
    color: $session-color;
   }

   .button-plus {
     background: $label-bg-color;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     border: solid black 6px;
     border-radius: 10px;
     padding: 15px;
     margin-left: 20px;
     width: 100%;
     max-width: 30px;
     max-height: 30px;
     height: 100%;
   }
   
   .button-minus {
    @extend .button-plus;
    
     margin-right: 20px;
     margin-left: 0px;
   }
   
   .settings-number {
     @extend .flex-middle;
     
     font-size: 1.5em;
     width: 100%;
     max-width: 100px;
   }
   .timer-increment {
     width: 60px;
     text-align: center;
   }
   