@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
  background-color: #757575;
  font-family: Montserrat, sans-serif;
}

#main {
    /* background-color: #212121; */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none; 
   
  }

  #main-container {
    /* background-color: #448AFF; */
      border: solid black 5px;
     display: flex;
     justify-content: space-evenly;
     flex-direction: row;
     max-width: 1000px;
     width: 100%;
     max-height: 510px;
     height: 100%;
     box-sizing: border-box;
     
   }
   
   #left-container {
     background-color: #FFF8E1;
     border-right: black solid 5px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     
   }
   
   #right-container {
     background-color: red;
     align-items: center;
     display: flex;
     flex-direction: column;
     font-size: 3em;
     justify-content: center;
     width: 100%;
     
     
   }
   
   
   #display-container {
     height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     flex-shrink: 1;
   }
   
   #title {
     height: 100%;
     font-size: 2em;
     flex-shrink: 7;
     
   }
   
   #timer-container {
   /* background-color: blue; */
     height: 100%;
     width: 100%;
    display: flex;
    flex-direction: column;
      justify-content: center;
     align-items: center;
     flex-shrink: 1;
   }
   
   #time-left {
     background-color: #E1F5FE;
     border: solid black 5px;
     border-radius: 50%;
     font-size: 3em;
     padding: 110px;
    
   }
   
   .controls-container {
     height: 100%;
     width: 100%;
     /* background-color: white; */
     display: flex;
     justify-content: space-around;
     margin: 20px;
     flex-shrink: 5;
     text-align: center;
   }
   
   .controls-button {
     background-color: #D1C4E9;
     border: black solid 3px;
     border-radius: 50px;
     cursor: pointer;
     font-size: 1.5em;
     font-weight: 600;
     padding: 10px;
     padding-left: 50px;
     padding-right: 50px;
   }
   
   #start-stop {
     background-color: #DCEDC8;
   }
   
   #reset {
     background-color: #EF9A9A;
   }
   
   .default-container {
     height: 100%;
     width: 100%;
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
   }
   
   #break-container {
     @extend .default-container;
     background-color: #FFEBEE;
     border-bottom: solid black 5px;
     box-sizing: border-box;
     
   }
   
   #session-container {
     @extend .default-container;
     background-color: #E8F5E9;
   }
   
   .center-container {
    /* background-color: yellow; */
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     
   }
   
   .label {
     
     // background-color: red;
     height: 100%;
     margin-top: 20px;
   }
   
   .button-plus {
     cursor: pointer;
     margin-left: 40px;
   }
   
   .button-minus {
    /* border: black solid 2px; */
     cursor: pointer;
     margin-right: 40px;
   }
   
   .timer-increment {
     width: 60px;
     text-align: center;
   }
   