@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

@font-face {font-family: "Tintin Majuscules";
src: url("//db.onlinewebfonts.com/t/f467350cf09770d20a3a63f7e14b63cb.woff") format("woff") }

@font-face {font-family: "Braeside Outline"; 
  src: url("//db.onlinewebfonts.com/t/c6d7a00a7e3ee2372005a51d2dbda4cd.woff") format("woff")
}

@font-face {font-family: "Stencilia-Bold"; 
  src: url("//db.onlinewebfonts.com/t/dc44e6e79f85f8711b1958c923a9c42c.woff") format("woff")
}

.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}



body {
  background-color: #757575;
  font-family: Montserrat, sans-serif;
}

#main {
   // background-color: #212121;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none; 
   
  }

  #main-container {
    /* background-color: #448AFF; */
      border: solid black 5px;
     display: flex;
     justify-content: space-evenly;
     flex-direction: row;
     max-width: 1000px;
     width: 100%;
     max-height: 510px;
     height: 100%;
     box-sizing: border-box;
     
   }
   
   #left-container {
     @extend .flex-middle;
     background-color: #FFF8E1;
     border-right: black solid 5px;
     flex-direction: column;
     width: 100%;
     
   }
   
   #right-container {
     @extend .flex-middle;
     background-color: red;
     flex-direction: column;
     font-size: 3em;
     width: 100%; 
   }
   
   #display-container {
     @extend .flex-middle;
     height: 100%;
    flex-direction: column;
     flex-shrink: 1;
   }
   
   #title {
     height: 100%;
     font-size: 2em;
     flex-shrink: 7;
     
   }
   
   #timer-container {
     @extend .flex-middle;
//background-color: blue;
     height: 100%;
     width: 100%;
     flex-direction: column; 
     flex-shrink: 1;
   }
   
   #time-left {
     @extend .flex-middle;
     background-color: #E1F5FE;
     border: solid black 5px;
     width: 100%;
     max-width: 300px;
     height: 100%;
     max-height: 300px;
     border-radius: 50%;
     font-family: "Stencilia-Bold";
     font-size: 3em;
     
    
   }
   
   .controls-container {
     height: 100%;
     width: 100%;
     /* background-color: white; */
     display: flex;
     justify-content: space-around;
     margin: 20px;
     flex-shrink: 5;
     text-align: center;
   }
   
   .controls-button {
     background-color: #D1C4E9;
     border: black solid 3px;
     border-radius: 50px;
     cursor: pointer;
     font-size: 1.5em;
     font-weight: 600;
     padding: 10px;
     padding-left: 50px;
     padding-right: 50px;
   }
   
   #start-stop {
     background-color: #DCEDC8;
   }
   
   #reset {
     background-color: #EF9A9A;
   }
   
   .default-container {
     height: 100%;
     width: 100%;
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
   }
   
   #break-container {
     @extend .default-container;
     background-color: #FFEBEE;
     border-bottom: solid black 5px;
     box-sizing: border-box;
     
   }
   
   #session-container {
     @extend .default-container;
     background-color: #E8F5E9;
   }
   
   .center-container {
    /* background-color: yellow; */
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     
   }
   
   .label {
     
     // background-color: red;
     height: 100%;
     margin-top: 20px;
   }
   
   .button-plus {
     cursor: pointer;
     margin-left: 40px;
   }
   
   .button-minus {
    /* border: black solid 2px; */
     cursor: pointer;
     margin-right: 40px;
   }
   
   .timer-increment {
     width: 60px;
     text-align: center;
   }
   